.createPost {
    background: var(--bg-primary);
    border-radius: 10px;
    box-shadow: 0 1px 2px var(--shadow-1);
    margin-top: 1.1rem;
    width: 100%;
    cursor: pointer;
}

.createPost_header {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 17px 5px 15px;
}

.createPost_header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.open_post {
    background: var(--bg-forth);
    color: var(--color-secondary);
    height: 41px;
    /* Making the `open_post` div take up all the remaining space. */
    flex: 1;
    border-radius: 50px;
    font-size: 17px;
    /* Making the text in the `open_post` div have a height of 21px. */
    line-height: 21px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.create_splitter {
    width: 95%;
    height: 1px;
    background: var(--bg-third);
    margin: 7px 10px;
}

.createPost_body {
    padding: 0 10px 8px 10px;
    display: grid;
    /* Creating a grid with 3 columns, each column taking up 1 fraction of the total width. */
    grid-template-columns: repeat(3, 1fr);
}