.home {
    min-height: 100vh;
    background: var(--bg-secondary);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.home_middle {
    margin-top: 75px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 1175px) {
    .stories,
    .createPost {
        width: 84% !important;
    }

    .home_middle {
        margin-left: 5%;
    }

    .right_home {
        width: 18vw;
    }
}

@media (max-width: 1030px) {
    .left_home .left_link span,
    .left_home .left_link .col,
    .shortcut, .shortcut_item span,
    .splitter {
        display: none;
    }
}