.register_input_wrap {
    width: 100% !important;
}

.register_input_wrap input {
    width: 300px;
    background: var(--bg-secondary);
}

.register_input_wrap .input_error {
    max-width: 300px;
}