.stories {
    position: relative;
    display: grid;
    /* It's defining the number of columns and the width of each column. */
    grid-template-columns: repeat(6, 105px);
    gap: 10px;
    padding: 6px 0;
}

.create_story_card {
    position: relative;
    height: 190px;
    width: 100%;
    border-radius: 10px;
    /* It's hiding the content that is outside of the element. */
    overflow: hidden;
    background: #fff;
    cursor: pointer;
    box-shadow: 0 1px 2px var(--shadow-1);
}

.create_story_img {
    position: absolute;
    height: 75%;
    width: 100%;
    object-fit: cover;
    filter: brightness(80%);
}

.plus_story {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--blue-color);
    cursor: pointer;
    border: 4px solid #fff;
}

.story_create_text {
    position: absolute;
    color: #000;
    left: 20%;
    top: 87%;
    font-size: 12px;
}

.story {
    cursor: pointer;
    position: relative;
    height: 190px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 2px var(--shadow-1);
}

.story_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* It's defining the transition time for all the properties. */
    transition: all 0.2s;
}

.story:hover .story_img {
    /* It's increasing the size of the element by 10%. */
    transform: scale(1.1);
}

.story_profile_pic {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 50%;
}

.story_profile_pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.story_profile_name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    /* It's breaking the word if it's too long. */
    word-break: break-word;
    color: #fff;
    font-size: 14px;
    padding-left: 10px;
}